%h2= "Nueva Solicitud de Cambio de Bsf. #{@cambio.bolivares.round}"
%p 
  = "Nombre: #{@cambio.nombre}"
  %br
  = "Email #{@cambio.email}"
  %br
  = "Taza #{@cambio.taza}"
  %br
  = "Pesos: #{@cambio.pesos}"
  %br
  = "Banco: #{@cambio.banco}"
  %br
  = "Tipo de Cueenta: #{@cambio.tipo_de_cuenta}"
  %br
  = "Numero de #{@cambio.cuenta}"
  %br
  = "Cedula: #{@cambio.cedula}"