#historial
  %h2 Historial de cambios
  .jumbotron
    .row#envio
      .col-md-1
        %h5 ID
        = @cambio.id
      .col-md-2
        %h5 Fecha
        = @cambio.created_at.strftime("%b %d, %Y")
      .col-md-2
        %h5 Taza
        = "#{number_with_delimiter(@cambio.taza.to_i, :delimiter => '.')} CLP/BsF"
      .col-md-2
        %h5 Bolivares
        = "BsF #{number_with_delimiter(@cambio.bolivares.to_i, :delimiter => '.')}"
        %br
        %small.text-success= "#{@cambio.banco}"
      .col-md-2
        %h5 Pesos
        = "$ #{number_with_delimiter(@cambio.pesos.to_i, :delimiter => '.')}"
      .col-md-2
        %h5 Estado
        .btn.btn-primary= @cambio.status
    .row#infoDeEnvio
      = form_for @cambio do |f|
        .bg-success#datosDeEnvio
          %h5= "Cuenta: #{@cambio.cuenta}"
          %h5= "Banco: #{@cambio.banco}"
          %h5= "Nombre: #{@cambio.nombre}"
          %h5= "Cedula: #{@cambio.cedula}"
          %h5= "Tipo de Cuenta: #{@cambio.tipo_de_cuenta}"
        %h5 Estado
        .row
          .col-md-4
            = f.radio_button :status, "pendiente"
            %br Pendiente
          .col-md-4
            = f.radio_button :status, "aceptada"
            %br Aceptada
          .col-md-4
            = f.radio_button :status, "ejecutada"
            %br Ejecutada
        = f.submit "Guardar", class: "btn btn-primary"