#historial
  %h2 Historial de cambios
  .jumbotron
    = will_paginate @cambios, class: "flickr_pagination"
    - @cambios.each do |cambio|
      .row#envio
        .col-md-2
          %h5 Fecha
          = cambio.created_at.strftime("%b %d, %Y")
        .col-md-2
          %h5 Taza
          = "#{number_with_delimiter(cambio.taza.to_i, :delimiter => '.')} CLP/BsF"
        .col-md-2
          %h5 Bolivares
          = "BsF #{number_with_delimiter(cambio.bolivares.to_i, :delimiter => '.')}"
          %br
          %small.text-success= "#{cambio.banco}"
        .col-md-2
          %h5 Pesos
          = "$ #{number_with_delimiter(cambio.pesos.to_i, :delimiter => '.')}"
        .col-md-2
          %h5 Estado
          .btn.btn-primary= cambio.status
        .col-md-2
          - if current_user.admin
            %h5= link_to "Ver Mas", edit_cambio_path(cambio)
          - else
            %h5= link_to "Ver Mas", cambio_path(cambio)