- if user_signed_in?
  #formularioDeCambio
    = form_for @cambio do |f|
      %h4= "Tasa #{@rate.floor}"
      = f.text_field :pesos, placeholder: "Pesos"
      = " = "
      = f.text_field :bolivares, placeholder: "Bolivares"
      #alerta
      = f.hidden_field :taza
      %br
      %h4 Datos para transferir
      = f.text_field :nombre, placeholder: "Nombre"
      %br
      = select(:account, nil, Account.where(user_id: @user).collect {|p| [ p.nombre+" "+p.banco, p.id ] }, {prompt: 'Seleccionar Beneficiario'})
      - bancos = [["Banesco", "Banesco"], ["Venezuela", "Venezuela"]]
      = f.select :banco, options_for_select(bancos)
      - tipo_de_cuenta = [["Ahorro", "Ahorro"], ["Corriente", "Corriente"]]
      = f.select :tipo_de_cuenta, options_for_select(tipo_de_cuenta)
      %br
      = f.text_field :cuenta, placeholder: "Numero de Cuenta"
      %br
      = f.text_field :cedula, placeholder: "Cedula"
      %br
      = f.text_field :email, placeholder: "Email"
      %br
      = f.submit "Cambiar", class:"btn btn-success"
    %input#hidden{ value:@user.id, type:"hidden"}

    / Button trigger modal
    %button.btn.btn-primary{"data-target" => "#exampleModal", "data-toggle" => "modal", :type => "button"}
      ¿Cómo funciona?
  / Modal
  #exampleModal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "exampleModalLabel", :role => "dialog", :tabindex => "-1"}
    .modal-dialog{:role => "document"}
      .modal-content
        .modal-header
          %h5#exampleModalLabel.modal-title ¿Cómo funciona?
          %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
            %span{"aria-hidden" => "true"} ×
        .modal-body
          \...
        .modal-footer
          %button.btn.btn-secondary{"data-dismiss" => "modal", :type => "button"} Cerrar
- else
  .container#banner
    .jumbotron
      %h2 Enviar dinero a Venezuela facil y rapido
      %p.text-center= link_to "Iniciar Sesion", new_user_session_path, class:"btn btn-primary btn-lg"