%h2 Olvide mi clave
= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f|
  = devise_error_messages!
  .field
    = f.label :email
    %br/
    = f.email_field :email, autofocus: true
  .actions
    = f.submit "Enviar instruccion de reinicio de clave"
  = render "devise/shared/links"
