!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title SafeMoney
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    %meta{ name: "viewport", content: "width=device-width, initial-scale: 1" }
  %body
    %nav.navbar.navbar-expand-lg.navbar-light.bg-light
      = link_to "SafeMoney", root_path, class:"navbar-brand col-md-2"
      %ul.navbar-nav.mr-auto
        Taza Actual: 1 CLP =
        %strong.text-success#rate
          - if @rate
            ="#{@rate.floor}"
      %ul.navbar-nav.ml-auto
        - if user_signed_in?
          %li
            %strong= "#{current_user.email}"
        - if !user_signed_in?
          %li= link_to "Iniciar Sesion", new_user_session_path, class:"btn btn-primary"
          %li= link_to "Unirse", new_user_registration_path, class:"btn btn-success"
        - if user_signed_in?
          %li= link_to "Historial", cambios_path, class:"btn btn-info"
          %li= link_to "Salir", destroy_user_session_path, class:"btn btn-warning", method: :delete
    .container-fluid
      .row
        .col-md-1#history
          -if user_signed_in?
            %i.fa.fa-history
            = link_to "Historial de envios", cambios_path
            %br
            %i.fa.fa-address-book-o
            = link_to "Cuentas guardadas", new_user_account_path(@user)
        .col-md-11#main-content
          - if flash[:notice]
            .alert.alert-success= notice
          - if flash[:alert]
            .alert.alert-success= alert
          = yield
