%h2 Agregar nueva cuenta de beneficiario

= form_for [@user, @account] do |f|
  = f.text_field :nombre, placeholder: "Nombre del beneficiario"
  - bancos = [["Banesco", "Banesco"], ["Venezuela", "Venezuela"]]
  = f.select :banco, options_for_select(bancos)
  - tipo_de_cuenta = [["Ahorro", "Ahorro"], ["Corriente", "Corriente"]]
  = f.select :tipo_de_cuenta, options_for_select(tipo_de_cuenta)
  = f.text_field :cuenta, placeholder: "Numero de Cuenta"
  = f.text_field :cedula, placeholder: "Numero de Cedula"
  = f.text_field :email, placeholder: "Email"
  = f.submit "Guardar"